<!-- Sidebar -->
<div id="sidebar">
	<div class="inner">

		<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Menu</h2>
				</header>
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li><a href="/pages/projects.html">Projects</a></li>
				</ul>
			</nav>

		<!-- Section -->
			<section>
				<header class="major">
					<h2>Updates</h2>
				</header>
				<ul>
					<li>📦 June 2025: Started Software Dev Engineer internship @ Amazon (Luxembourg)</li>
					<li>📰 May 2025: First (1st author) paper accepted at ICML 2025</li>
					<li>🎓 September 2024: Started MSc in Artificial Intelligence @ Bocconi University (full merit scholarship)</li>
					<li>🎓 July 2024: Graduated BSc in Economics, Management & Computer Science @ Bocconi University (110 Cum Laude/110)</li>
					<li>🏆 October 2022 & 2023: Received Excellence Award (top 15 GPA) for BSc studies</li>
				</ul>
			</section>

		<!-- Section -->
			<section>
				<header class="major">
					<h2>Get in touch</h2>
				</header>
				<p>Interested in a project collaboration, looking for someone to chat about AI with, or simply wishing to share some interesting information? Feel free to contact me at:</p>
				<ul class="contact">
					<li class="icon solid fa-envelope"><a href="mailto:mateigabriel.cosa@studbocconi.it">mateigabriel.cosa@studbocconi.it</a></li>
				</ul>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Matei Gabriel Cosa.</p>
			</footer>

	</div>
</div> 